body {
background: #f4f6f8;
color: #333;
}


header {
background: #1e3a8a;
color: white;
text-align: center;
padding: 20px;
}


nav {
background: #111827;
display: flex;
justify-content: center;
gap: 20px;
padding: 10px;
}


nav a {
color: white;
text-decoration: none;
font-weight: bold;
}


nav a:hover {
color: #60a5fa;
}


.card {
background: white;
max-width: 900px;
margin: 30px auto;
padding: 25px;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.images {
display: flex;
gap: 15px;
margin-top: 15px;
flex-wrap: wrap;
max-width: 250px;
margin: 0%;
}


.images img {
border-radius: 10px;
}


button {
padding: 10px 20px;
background: #2563eb;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}


button:hover {
background: #1d4ed8;
}


footer {
background: #1e3a8a;
color: white;
text-align: center;
padding: 15px;
}
.button {
  background-color: #2079b5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  display: flex;
  align-items: center;    
  justify-content: center; 
}
.qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qrcode img{   
  width: 100%;
  max-width: 250px;
  height: auto;
}
  
